body{
  font-family: papyrus;
  color:#8A0808;
}

/*UTILITIES*/
.text-center{
  text-align: center;
}

/*header*/
header{
  margin: 0;
  width: 100%;
}
.contenido-header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-height: 400px;
  background-image: url(../img/especias3.jpg);
  background-position: center;
  background-size: cover;
}
.barra{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-logo{
  width: 20%;
  height: auto;
}
nav{
  text-decoration: none;

}
.menu{
  text-decoration: none;
  color:#8A0808;
  width: 100px;
  font-size: 30px;
  font-weight: bolder;
  margin: 10px;
}
.menu:hover{
  border-bottom: #8A0808 solid 3px;
}
.img.cel{
  display: none;
}
.guarda{
  height: 14vh;
  line-height: 14vh;
  background-color: rgba(255, 255, 255, 0.5);
}
.guarda-texto{
  text-align: right;
  font-size: 5vh;
  font-style: italic;
}



/*        PAGINA INICIO               */
/*main*/
h2{
    font-size: 10vh;
}
h3{
    font-size: 5vh;
}
p{
  text-align: justify;
}
.site-products{
  overflow: hidden;
}
.section-producto{
  float: left;
  width: 25%;
  height: 100%;
}
.section-left{
  margin-left: 10%;
  margin-right:2.5%;
}
.section-right{
  margin-left: 2.5%;
  margin-right: 10%;
}
img{
  width: 100%;
  height: 40vh;
}
.ver-mas {
  background-color: #8A0808;
  display: block;
  color: white;
  width: 100%;
  font-size: 3vh;
  text-decoration: none;
  text-align: center;
  font-weight: bloder;
}
.boton-ver-todos{
  color:#8A0808;
  display: block;
  border: 3px solid #8A0808;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  width: 20%;
  margin-top: 40%;
  margin-left: 40%;
  font-size: 3vh;
  text-decoration: none;
  text-align: center;
  font-weight: bolder;
}
.boton-ver-todos:hover{
  color:white;
  background-color: #8A0808;
}


/*index contacto*/
.index-contacto{
  margin-top: 100px;
  background-image: url(../img/sopa.jpg);
  background-size: cover;
  background-position: center;
  width:100%;
  height: 90vh;
  min-height: 300px;
  margin-bottom: 0px;
}
h4{
  text-align: right;
  font-size: 7vh;
  padding-top: 4%;
  margin-right: 5%;
}
.texto-contacto{
  text-align: right;
  padding-top: 1%;
  margin-right: 5%;
  font-size: 4vh;
  font-weight: bolder;
}
.boton-contacto{
  display: block;
  background-color: #8A0808;
  color: white;
  width: 10%;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 85%;
  text-align: center;
  text-decoration: none;
}


/*footer*/
footer{
  background-color: #CF6F6F;
  width: 100%;
  height: 10vh;
}
.contenedor-footer{
  display: flex;
  width: 50%;
  height: 10vh;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
h5{
  display: block;
  font-size: 5vh;
}
.simbolos{
  height: auto;
  float: left;
  text-align: center;
}
i{
  margin: 12px;
}
.footer-text{
  text-align: left;
  font-size: 3vh;
}




/*              PAGINA CONTACTO         */
.header-contacto{
  height: 15vh;
}
.barra-contacto{
  margin-bottom: 0;
}
.container-contact{
  margin-top: 0;
  background-image: url(../img/especias8.jpg);
  height: 90vh;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
}
